.App {
  text-align: center;
}

.Navibar {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom:0;
}

.body {
  background-image: url("./Backgrounds/01.jpg");
  background-size: cover;
  background-position: center;
  position:fixed;
  height:100vh;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  display: flex;
  flex-direction: row;
  justify-content: top;
  align-items: top;
  overflow-x: hidden;
  overflow-y: hidden;
}

.App-name {
  color: rgb(196, 191, 191);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: calc(70px + 3vmin);
  /* display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; */
  top:540px;
  left:70px;
  position: absolute;
  animation-name: app-name-load;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-delay: 40ms;
  animation-fill-mode: forwards;
  transform: scale(0);
  /* border-style: solid;
  border-color: red; */
}

.App-description {
  color: rgb(254, 254, 254);
  display: flex;
  flex-direction: row;
  text-align: center;
  /* justify-content: center; */
  position: absolute;
  top:720px;
  left:70px;
  position: relative;
  /* border-style: solid;
  border-color: red; */
}

@keyframes app-name-load {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% { 
    transform: scale(1);
  }  
}

.Ecosystem, .Community, .Contact, .FAQ {
  background-image: url("./Backgrounds/02.jpg");
  background-size: cover;
  background-position: center;
  position:fixed;
  height:100vh;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  display: flex;
  flex-direction: row;
  justify-content: top;
  align-items: top;
  overflow-x: hidden;
  overflow-y: hidden;
}