.App {
  text-align: center;
}

.body {
  /* background-color: rgb(42, 41, 41); */
  background-image: url("./background.jpg");
  background-size: cover;
  background-position: center;
  position:absolute;
  height:100vh;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: top;
  overflow-x: hidden;
}

.App-name {
  color: rgb(220, 211, 211);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: calc(70px + 3vmin);
  /* display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; */
  top:520px;
  left:70px;
  position: absolute;
  animation-name: app-name-load;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-delay: 40ms;
  animation-fill-mode: forwards;
  transform: scale(0);
}

.App-description {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  text-align: center;
  top:570px;
  left:70px;
  position: relative;
}

@keyframes app-name-load {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% { 
    transform: scale(1);
  }  
}